@import url('https://fonts.googleapis.com/css2? família=Roboto:wght@300edisplay=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color:#00796B;
         
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    list-style: none;
   
}
header nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    margin: 10px;
     
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: auto;
    margin: 0 auto;
    display: flex;

}
main {
    min-height: 85vh;
}
footer {
    text-align: center;
    background-color:#00796B;
    color: #fff;
    padding: 10px;
}