section.banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.banner .container .titulo{

    text-transform: uppercase;
    text-align: right;
    margin: 10px;
    color: #00796B;
    font-size: 25px;
    margin: 10px;
    padding: 30px;
}


